@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("../../fonts/opensans.woff") format("woff"),
    url("../../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../../fonts/opensansbold.woff") format("woff"),
  url("../../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Light";
  src: local("OpenSans-Light"),
    url("../../fonts/opensanslight.woff") format("truetype"),
    url("../../fonts/opensanslight.woff2") format("truetype2");
  font-weight: normal;
  font-style: normal;
}
