$ff-base: "OpenSans", Arial, Calibri, sans-serif;
$fz-base: 18px;
$lh: 1.8;

$c-b: #000;
$c-bg: #283645;
$c-w: #ffffff;
$c-grey: #f2f2f2;
$c-border: #e5e5e5;
$c-accent: #d22856;
$c-btn: #2aab6d;
$c-grey-dark: #b5b9be;

$tablet-widths: 'min-width: 700px';
$desktop-widths: 'min-width: 1200px';
