html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $ff-base;
  font-size: $fz-base;
  line-height: $lh;
  color: $c-bg;
  background-color: $c-w;
}
a {
  text-decoration: none;
}

.no-show {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

fieldset {
  position: relative;
  border: none;
  padding: 0;
}

@include toggle(prices-input-1);
@include toggle(prices-input-2);
@include toggle(prices-input-3);

@include toggle(reviews-input-1);
@include toggle(reviews-input-2);
@include toggle(reviews-input-3);

