.btn {
  display: block;
  padding: 15px;
  @include font(18px, 30px);
  font-weight: bold;
  text-transform: uppercase;
  color: $c-w;
  background-color: $c-btn;
  border-color: $c-btn;
  border-radius: 5px;
  &:hover {
    outline: none;
    color: $c-w;
    background-color: #1c9b5e;
  }

  &:active {
    outline: none;
    background-color: #1c9b5e;
    color: rgba($c-w, 0.3);
  }
  &:visited {
    outline: none;
  }
}

.batton {
  display: block;
  @include font(18px, 18px);
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  border-radius: 30px;
  &:active,
  &:focus {
    outline: none;
  }
}

