.button {
  display: block;
  @include font(18px, 18px);
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  border-radius: 30px;
  &:active,
  &:focus {
    outline: none;
  }
  &--disabled {
    background-color: $c-border;
    color: white;
  }
}

.button__app {
  background-color: transparent;
  color: $c-w;
  width: 285px;
  border: 3px solid $c-w;
  &:hover {
    background-color: $c-w;
    color: $c-accent;
    transition: .3s
  }
  &:active {
    background-color: $c-w;
    color: rgba($c-accent, 0.3);
    transition: .2s
  }
}

.button--post {
  background-color: transparent;
  color: $c-accent;
  border: 3px solid $c-accent;
  width: 280px;
  margin-top: 5px;
  margin-bottom: 5px;
  &:hover {
    background-color: $c-accent;
    color: $c-w;
  }
  &:active {
    background-color: $c-accent;
    color: rgba($c-w, 0.3);
  }
}


.button--reset {
  background-color: transparent;
  color: rgba($c-bg, .3);
  border: 3px solid rgba($c-bg, .3);
  width: 280px;
  margin-top: 5px;
  margin-bottom: 5px;
  &:hover {
    opacity: 0.3;
  }
  &:active {
    background-color: $c-bg;
    color: rgba($c-w, 0.3);
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {
  .button--post {
    width: 260px;
    margin-top: 0;
    margin-bottom: 0;
   }

  .button--reset {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media #{$desktop-widths} {
  .button--post {
    width: 180px;
    margin: 0;
   }

  .button--reset {
    width: 180px;
    margin: 0;
  }
}
