.download {
  height: 730px;
  display: flex;
  flex-direction: column;
}

.download-hand {
  position: relative;
  background: url("../img/bg-back-mobile@1x.jpg") 50% 100% no-repeat;
  height: 460px;
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 30px);
    top: 176px;
    transform: translate(-50%);
    @include size(258px, 286px);
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 0;

    @media #{$retina} {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px;
    }
  }
}

.download-app {
  background-color: $c-bg;
  padding: 30px 20px;
}

.batton__app {
  background-color: transparent;
  color: $c-w;
  width: 285px;
  border: 3px solid $c-w;
  &:hover {
    background-color: $c-w;
    color: $c-accent;
    transition: .3s
  }
  &:active {
    background-color: $c-w;
    color: rgba($c-accent, 0.3);
    transition: .2s
  }
}

.download-app__title{
  display: none;
}

.download-app__txt {
  @include font(14px, 24px);
  font-weight: lighter;
  text-align: center;
  color: $c-w;
  margin: 25px auto 0 auto;
  padding: 0;
 }

 .download-app__icon{
  width: 210px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;


 }
.download-app__item {
  width: 59px;
  height: 59px;
 }

 .download-app__item--apple {
  background: url("../img/logo-apple.svg") 50% 50% no-repeat;
 }
 .download-app__item--android {
  background: url("../img/logo-android.svg") 50% 50% no-repeat;
 }

 .download-app__item--microsoft {
  background: url("../img/logo-microsoft.svg") 50% 50% no-repeat;
 }

@media #{$tablet-widths} {
  .download {
    width: 100%;
    height: 730px;
    background: url("../img/bg-back-tablet@1x.jpg")  50% 100% no-repeat;
    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }

  .download__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 700px;
  height: 100%;
  background: url("../img/iphone-hand-tablet@1x.png") 0 100% no-repeat;
  }

  .download-hand {
    display: none;
  }

  .download-app {
  order: 1;
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  padding: 30px 20px;
  }

  .download-app__title {
    width: 200px;
    margin: 40px auto;
    display: block;
    @include font(40px, 40px);
    font-weight: lighter;
    color: $c-w;
    text-align: center;
  }
  .download-app__txt{
    width: 300px;
    text-align: center;

  }
}


@media #{$desktop-widths} {

.download {
  width: 100%;
  height: 853px;
  top: -110px;
  left: 0;
  background: url("../img/bg-back-desktop@1x.jpg") 50% 100% no-repeat;
    @media #{$retina} {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px;
    }
}

.download__wrap {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  background: url("../img/iphone-hand-desktop@1x.png") 0 100% no-repeat;
    @media #{$retina} {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px;
    }
  }

.download-app__txt{
  @include font(18px, 24px);
  }

}
