.main-footer{
   background-color: $c-w;
   height:  245px;
   padding-top: 40px; /*-правка photo.html */
}

.main-footer--index-hidden {
  display: none;
}

.main-footer__wrap {
  display: none;
}

.main-footer__wrap--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;


  .main-footer__logo {
    width: 147px;
    height: 40px;
  }

  .main-footer__social {
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: space-between;
  }

  .main-footer__social-fb,
  .main-footer__social-tw,
  .main-footer__social-yt {
    width: 45px;
    height: 45px;
    border: solid 3px  rgba($c-bg, .1);
    border-radius: 50%;
    &:hover {
      border-color: $c-bg;
      transition: .3s;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .main-footer__social-fb {
    background: url("../img/icon-facebook.svg") 50% 50% no-repeat;
  }
  .main-footer__social-tw {
    background: url("../img/icon-twitter.svg") 50% 50% no-repeat;

  }
  .main-footer__social-yt {
    background: url("../img/icon-youtube.svg") 50% 50% no-repeat;
  }

  .main-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 35px;
    p {
      @include font(14px, 18px);
    }
  }
  .main-footer__academy {
    width: 27px;
    height: 34px;

    background: url("../img/logo-htmlacademy.svg") 50% 50% no-repeat;
  }
 }


@media ($tablet-widths) {
  .main-footer{
    padding-top: 0;
    height:  128px;
  }

  .main-footer--index-hidden {
  display: block;
  }

  .main-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    height: 100%;
    margin: 0 auto;
  }

  .main-footer__wrap--form {
    display: flex;
    flex-direction: row;
    width: 620px;
  }

  .main-footer__logo {
    width: 147px;
    height: 40px;
  }

  .main-footer__social {
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: space-between;
  }

  .main-footer__social-fb,
  .main-footer__social-tw,
  .main-footer__social-yt {
    width: 45px;
    height: 45px;
    border: solid 3px  rgba($c-bg, .1);
    border-radius: 50%;
  }

  .main-footer__social-fb {
    background: url("../img/icon-facebook.svg") 50% 50% no-repeat;
  }
  .main-footer__social-tw {
    background: url("../img/icon-twitter.svg") 50% 50% no-repeat;

  }
  .main-footer__social-yt {
    background: url("../img/icon-youtube.svg") 50% 50% no-repeat;
  }

  .main-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 35px;
    p {
      @include font(14px, 18px);
    }
  }
  .main-footer__academy {
    width: 27px;
    height: 34px;
    svg {
      cursor: auto;
      path {
        fill: $c-accent;
      }
      &:hover{
      path {
        fill: $c-bg;
        transition: .3s;
        }
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}

@media ($desktop-widths) {
  .main-footer__map {
    height: 505px;
  }

  .main-footer{
  height:  226px;
  }
  .main-footer__wrap {
    width: 940px;
  }
  .main-footer__copyright {
    width: 150px;
    height: 35px;
    p {
      @include font(18px, 18px);
    }
  }

}



