.main-footer{
   background-color: $c-w;
}

.contacts {
  margin: 50px 20px;
  text-align: center;
}

.contacts__title-ploy {
  @include font(24px, 30px);
  font-weight: 400;
  color: $c-bg;
  z-index: 5;
  margin-bottom: 30px;
}

.contacts__title {
  @include font(18px, 18px);
  font-weight: bold;
  color: $c-bg;
}
.contacts__email,
.contacts__address,
.contacts__phone {
  margin: 40px 0;
  p{
    @include font(24px, 28px);
    font-weight: lighter;
    color: $c-accent;
    margin: 0;
  }
  h3 {
    margin-bottom: 7px;
  }
}
.contacts__email {
  a{
    @include font(24px, 28px);
    font-weight: lighter;
    color: $c-accent;
    text-decoration: none;
  }
}

.map {
  width: 100%;
  height: 200px;
  background: url(/img/bg-map-mobile@1x.png) no-repeat 50% 50%;
  background-size: cover;
}
