.main-footer{
   background-color: $c-w;
}

.contacts {
  margin: 0 20px;
}

.contacts__title {
  @include font(18px, 18px);
  font-weight: bold;
  color: $c-bg;
}
.contacts__address,
.contacts__phone {
  p{
    @include font(24px, 28px);
    font-weight: lighter;
    color: $c-accent;
  }
}
.contacts__email {
  a{
    @include font(24px, 28px);
    font-weight: lighter;
    color: $c-accent;
    text-decoration: none;
  }
}

.map {
  width: 100%;
  height: 200px;
  background: url(/img/bg-map-mobile@1x.png) no-repeat 50% 50%;
  background-size: cover;
}
