.main-header{
  background-color: $c-bg;
}

.main-header__title{
  @include clearfix;
  &--menu-open {
    border-bottom: 1px solid $c-b;
    //display: none; /*закрытое меню - временно*/

  }
  &--menu-close {
    background-color: rgba($c-b, 0.3);
    z-index: 5;
    position: absolute;
    width: 100%;
  }
}

.logo{
  display: block;
  float: left;
  padding: 20px;
  @include size(75px, 22px);
  background: url("../img/logo-pink-white-mobile.svg") 50% 50% no-repeat;
}

.main-header__btn {
  display: block;
  float: right;
  //cursor: pointer;
  margin: 20px;
  background-color: $c-bg;
  border: none;
  &--open {
    @include size(24px, 23px);
    background: url("../img/icon-menu-cross.svg") 50% 50% no-repeat;
  }
  &--close {
    @include size(50px, 24px);
    background: url("../img/icon-menu-burger.svg") 50% 50% no-repeat;
  }
}


.main-nav__list{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    border-top: 1px solid lighten($c-bg, 11.7647);
    border-bottom: 1px solid $c-b;
  }
}
.main-nav_item{
  display: inline-block;
  width: 100%;
  @include font(18px, 32px);
  font-weight: 600;
  text-transform: uppercase;
  color: $c-w;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.picture {
  display: flex;
  width: 100%;
  height: 238px;
  background: url("../img/bg-back-mobile@1x.jpg") 0 100% no-repeat;
}

.picture__wrap {
  width: 250px;
  margin: auto;
}

.picture__title {
  display: block;
  @include font(24px, 26px);
  font-weight: lighter;
  color: $c-w;
  text-align: center;

}



@media ($tablet-widths) {
  .logo{
  padding-left: 40px;
  background: url("../img/logo-pink-white-mobile.svg") 50% 50% no-repeat;
  }
  .main-header__btn {
  margin: 20px 40px;
  &--open {
    background: url("../img/icon-menu-cross.svg") 50% 50% no-repeat;
  }
  &--close {
    background: url("../img/icon-menu-burger.svg") 50% 50% no-repeat;
    }
  }

  .picture {
    height: 620px;
    background-size: cover; /*Временно*/
  }

  .picture__wrap {
    width: 500px;
  }

  .picture__title {
    @include font(50px, 50px);
  }

}


@media ($desktop-widths) {
  .main-header {
    position: absolute;
    background-color: rgba($c-bg, 0.3);
    width: 100%;
    height: 110px;
    z-index: 5;
  }

  .main-header__wrap {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo{
  width: 147px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: url("../img/logo-pink-white-mobile.svg") 50% 50% no-repeat;
  }

  .main-header__title--menu-close {
    display: none;
  }
  .main-header__title--menu-open {
    border: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline-block;
      border: none;
      padding: 20px;
      white-space: nowrap;
    }
  }


  .main-header__btn {
    &--open {
    display: none;
  }
    &--close {
      display: none;
      }
  }

  .main-header__title {
    width: 940px;
  }

  .picture {
    top: -110px;
    left: 0;
    background: url("../img/bg-back-descktop@-delet.jpg") 0 100% no-repeat;
    height: 400px;
    background-size: cover; /*Временно*/
  }

  .picture__wrap {
    width: 800px;
  }

}


