.pop-up {
  width: 320px;
  /*height: 290px; */
  margin: 0 auto 30px;
  box-shadow: 0 7px 25px rgba($c-b, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pop-up__title {
   @include font(18px, 24px);
   text-align: center;
   color: $c-b;
   margin: 30px auto 30px auto;
}
.pop-up__txt {
  width: 280px;
  @include font(14px, 24px);
   text-align: center;
   color: $c-bg;
   margin-bottom: 30px;
   p {
    margin: 0;
   }
}

.pop-up__button-wrap {
  width: 100%;
  background-color: $c-grey;
}
.btn_pop-up {
  width: 280px;
  margin: 40px auto 50px auto;
}

@media ($tablet-widths) {

  .pop-up {
  width: 460px;
  }

  .pop-up__title {
    @include font(30px, 40px);
    width: 220px;
  }
  .pop-up__txt {
    width: 280px;
    @include font(13px, 24px);
    width: 320px;
  }

  .btn_pop-up {
    width: 300px;
    margin: 50px auto 50px auto;
  }
}
