.price {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.price__wrap {
  width: 100%;
  background-color: $c-grey;
  background-image: url(../img/bg-triangle-white.svg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  padding-top: 65px;

}
.price__title,
.price__list {
  display: table-row;
  vertical-align: middle;
}

.price__title-item,
.price__list-item {
  display: table-cell;
  vertical-align: middle;
}


li:nth-child(1).price__title-item,
li:nth-child(1).price__list-item,
{
  display: none;
}

li:nth-child(2).price__title-item span,
li:nth-child(2).price__list-item .price__list-item--hidden,
li:nth-child(2).price__list-item .price__marker {
  display: none;
}

li:nth-child(3).price__list-item .price__marker {
  display: block;
}

li:nth-child(4).price__title-item span,
li:nth-child(4).price__list-item .price__list-item--hidden,
li:nth-child(4).price__list-item .price__marker {
  display: none;
}

.price__title-item--sticker {
  background-image: url(../img/bg-hit.svg);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  position: relative;
  &::before {
    content: "Хит";
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 6;
    @include font(14px, 30px);
    text-transform: uppercase;
    color: $c-w;
    transform: rotate(-45deg);
  }
}

.price__title-item {
  background-color: $c-bg;
  text-align: center;
  text-transform: uppercase;
  color: $c-w;
  height: 100px;
  border: 2px solid $c-border;
  span {
    @include font(18px, 30px);
    font-weight: bold;
  }
}

.price__list-item {
  @include font(14px, 30px);
}

  span.price__title-item--money {
    @include font(24px, 30px);
    font-weight: normal;
    display: block;
  }

.price__list-item{
  background-color: $c-w;
  text-align: left;
  border: 2px solid $c-border;
  height: 60px;
  padding-left: 25px;

}

.prices__toggles {
  text-align: center;
}

.price__marker {
  float: right;
  margin-right: 15px;
   &--yes {
    fill: $c-ig;
  }
  &--no {
    fill: $c-ir;
  }
}


@media #{$tablet-widths} {
  .price {
    width: 620px;
    margin: 0 auto;
    }
  .price__wrap {
    padding-top: 90px;
    padding-bottom: 70px;
  }


  .prices__toggles {
    display: none;
  }

  .price__title-item {
    width: 155px;
    height: 80px;
  }

  .price__title-item--hidden {
    border: none;
    background: none;
  }
  span.price__title-item--money {
    @include font(18px, 30px);
  }

  li:nth-child(1).price__title-item,
  li:nth-child(1).price__list-item {
    display: table-cell;
  }

  li:not(:nth-child(1)).price__list-item {
    padding: 0;
    text-align: center;
  }

  li:nth-child(3).price__list-item span {
    display: none;
  }
  li:nth-child(2).price__title-item span,
  li:nth-child(4).price__title-item span  {
    display: block;
  }

  li:nth-child(2).price__list-item .price__marker,
  li:nth-child(3).price__list-item .price__marker,
  li:nth-child(4).price__list-item .price__marker {
    display: block;
  }

  .price__marker {
    display: block;
    float: none;
    margin: 0 auto;
  }

}

@media #{$desktop-widths} {
  .price__wrap {
    padding-top: 150px;
    padding-bottom: 90px;
  }

  .price {
    width: 940px;
    margin: 0 auto;
  }

  .price__title-item {
    width: 235px;
    height: 100px;
  }

  span.price__title-item--money {
    @include font(24px, 30px);
  }

  .price__list-item {
    @include font(18px, 30px);
  }

}
