.slider {
  text-align: center;
  position: relative;
}

.slider--bg-w {
  background-color: $c-w;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__title-item{
  @include font(18px, 24px);
  font-weight: bold;
  color: $c-b;
  z-index: 5;
  text-align: center;
  margin-top: 40px;
}

.slider__txt{
  @include font(14px, 30px);
  font-weight: normal;
  color: $c-bg;
  text-align: center;
}

.slider__user-age {
  display: none;
}

.slider__toggle {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin-right: 19px;
  @include size(6px, 6px);
  background-color: rgba($c-bg, 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider__arrow,
.slider__input {
  display: none;
}

@media #{$tablet-widths} {
  .slider {
  width: 100%;
}

.slider--bg-w {
  padding: 0;
}

  .slider__item {
    width: 620px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__user-age {
    display: block;
  }

  .slider__title-item{
    @include font(20px, 30px);
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .slider__txt{
    @include font(18px, 30px);
  }
}

@media #{$desktop-widths} {
  .slider--bg-w {
    background: url(../img/icon-quotes.svg) no-repeat 50% 72px;
  }

  .slider__item {
    position: relative;
    width: 940px;
    padding-top: 180px;
    padding-bottom: 50px;
  }

  .slider__title-item{
    @include font(24px, 30px);
  }

  .slider__txt{
    width: 700px;
    margin: 20px auto;
  }

  .slider__arrow {
    position: absolute;
    display: block;
    @include size(22px, 43px);
    bottom: 160px;
    fill: rgba($c-bg, 0.3);
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    &:hover {
      fill: rgba($c-bg, 0.6);
    }
    &:active {
      fill: rgba($c-bg, 0.1);
    }
  }
  .slider__toggles {
    display: none;
  }
}
