.slider {
  text-align: center;
  position: relative;
}

.slider--bg-w {
  background-color: $c-w;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__title-item{
  @include font(18px, 24px);
  font-weight: bold;
  color: $c-b;
  z-index: 5;
  text-align: center;
  margin-top: 40px;
}

.slider__txt{
  @include font(14px, 30px);
  font-weight: normal;
  color: $c-bg;
  text-align: center;
}

.slider__user-age {
  display: none;
}

.slider__toggle {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin-right: 19px;
  @include size(6px, 6px);
  background-color: rgba($c-bg, 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}

.slider__input {
  display: none;
}

@include toggle(reviews-input-1);
@include toggle(reviews-input-2);
@include toggle(reviews-input-3);


/*

@media ($tablet-widths) {



}
*/

