.slogans {
  text-align: center;
}

.slogans__offer {
  background-color: $c-w;
  width: 220px;
  margin: 40px auto;
  /*padding: 25px 20px;*/
}

.slogans__title {
  position: relative;
  background-color: $c-grey;
  padding: 20px 55px 0 55px;
}

.slogans__offer-title {
  @include font(24px, 28px);
  font-weight: 400;
  color: $c-bg;
  z-index: 5;
}

.slogans__title-item {
  @include font(18px, 24px);
  font-weight: bold;
  color: $c-b;
  z-index: 5;
  text-align: center;
  margin-top: 40px;
}

.slogans__title-txt {
  @include font(14px, 24px);
  font-weight: normal;
  color: $c-bg;
}

.slogans__title-img {
  display: block;
  margin: 40px auto 0 auto;
  overflow: hidden;
  width: 157px;
  height: 280px;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
}

@media ($tablet-widths) {
  .slogans__offer {
    width: 600px;
    margin: 50px auto;
  }

  .slogans__offer-title {
    @include font(35px, 35px); /*Шрифт на макете 40px!!!*/
    margin: 0 auto;
    &--small {
      width: 500px;
    }
  }

  .slogans__title {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;

  }

  .slogans__title-wrap {
   order: 1;
   width: 50%;

  }

  .slogans__title-item {
  text-align: left;

  }

  .slogans__title-txt {
    text-align: left;
    &:last-child{
      margin-bottom: 60px;
    }
  }

  .slogans__title-img {
    align-self: flex-end;
  }

}


@media ($desktop-widths) {

  .slogans__title {
   display: block;
   width: 100%;
  }

  .slogans__offer {
    width: 750px;
    margin: 80px auto;
  }
  .slogans__offer-title {
    @include font(50px, 50px);

  }

  .slogans__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    text-align: center;
  }

  .slogans__title-item {
    @include font(30px, 30px);
    width: 230px;
    margin: 50px auto 30px auto;
    text-align: center;

  }
  .slogans__title-txt {
    @include font(18px, 30px);
    width: 235px;
    margin: 0 auto;
    text-align: center;
  }



  .slogans__wrap-item--mood::before {
    content: "";
    display: block;
    width: 270px;
    height: 300px;
    margin: 0 auto;
    background: transparent url(../../img/iphone-screen-mobile@1x.png) center 0 no-repeat;
    background-size: 180px auto;
    box-shadow: inset 0px -10px 15px -19px #000000;
  }

  .slogans__wrap-item--peace::before {
    content: "";
    display: block;
    width: 270px;
    height: 300px;
    margin: 0 auto;
    background: transparent url(../../img/iphone-screen-mobile@1x.png) center 0 no-repeat;
    background-size: 180px auto;
    box-shadow: inset 0px -10px 15px -19px #000000;
  }

  .slogans__wrap-item--friends::before {
    content: "";
    display: block;
    width: 270px;
    height: 300px;
    margin: 0 auto;
    background: transparent url(../../img/iphone-screen-mobile@1x.png) center 0 no-repeat;
    background-size: 180px auto;
    box-shadow: inset 0px -10px 15px -19px #000000;
  }


  .slogans__title-img {
    display: none;
  }








}





