.trick {
    display: none;
  }


@media #{$tablet-widths} {
  .trick {
    display: block;
    width: 100%;
  }

  .trick__wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 620px;
    min-height: 400px;
    margin: 0 auto;
    &::before {
      content: "24";
      position: absolute;
      top: 60px;
      left: 3.0303%;
      display: block;
      width: 238px;
      height: 277px;
      font-size: 96px;
      line-height: 300px;
      font-weight: 700;
      text-align: center;
      vertical-align: bottom;
      color: $c-accent;
      background: url("../img/icon-timer.svg") no-repeat 0 0;
      background-size: 237px;
    }
  }

  .trick__wrap-txt {
    width: 300px;
    p {
      @include font(14px, 24px);
    }
    a{
      @include font(14px, 24px);
      color: $c-accent;
      text-decoration: underline;
      &:hover {
      color: $c-bg;
      }
      &:active {
      color: $c-bg;
      opacity: .3;
      }
    }
  }

  .trick__title{
    width: 200px;
    @include font(30px, 36px);
    font-weight: bold;
    color: $c-b;
  }
}

@media #{$desktop-widths} {
  .trick {
    background-color: $c-grey;
  }

  .trick__wrap {
    display: flex;
    align-items: center;
    width: 940px;
    min-height: 420px;
    margin: 0 auto;
  }

  .trick__img {
    display: block;
    width: 40%;
    height: 100%;
  }

  .trick__wrap-txt {
    width: 60%;
    p {
      @include font(18px, 30px);
    }
    a{
      @include font(18px, 30px);
    }
  }

  .trick__title{
    width: 300px;
    margin-top: 10px;
    @include font(30px, 30px);
  }
}
