.trick {
    display: none;
  }


@media ($tablet-widths) {
  .trick {
    display: flex;
    margin: 40px;
  }

  .trick__img {
    display: block;
    width: 50%;
  }

  .trick__wrap {
    width: 50%;
    p {
      @include font(14px, 24px);
    }
    a{
      @include font(14px, 24px);
      color: $c-accent;
      text-decoration: underline;
    }
  }

  .trick__title{
    width: 200px;
    @include font(30px, 36px);
    font-weight: bold;
    color: $c-b;
  }
}
